<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit&onload=onloadTurnstileCallback" defer></script>

<div class="cf-turnstile" id="widget" data-sitekey="<%= ENV["PUBLIC_KEY"] %>"></div>

<script>
window.onloadTurnstileCallback = function () {
    turnstile.render('#widget', {
        sitekey: '<%= ENV["PUBLIC_KEY"] %>',
        callback: function(token) {
            setTimeout(() => {
                document.getElementById("widget")
            }, 1000)
        },
    });
};
</script>