@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color:#f2f3f4; 
}

:root {
	--font-main: 'Comfortaa', cursive;
	--font-video-player: 'Poppins', sans-serif;
}

.material-icons {
	user-select:none;
	-webkit-user-select:none;
	cursor:pointer;
	color:#f2f3f4;
}

.icons-button:hover > span,
.icons-button:active > span,
.icons-button:focus > span {
  opacity: 75%;
}

// dropdown menu design 

.dropDownBn {
    background-color:transparent;
    letter-spacing: 2px;
    color:#fff;
    cursor: default;
    font-family: var(--font-main);
    z-index: 5;
	&:hover {
		background-color: rgba(0, 0, 0, 0.03); 
	}
}

// search design 

.block-search {
	display: none;
	background-color: #2d2f31;
	z-index: 10;
}

.search-mode {
	display: flex;
	font-size: 13px;
	font-weight: 400;
	padding-left: 10px;
	height: 45px;
	align-items: center;
	-ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
	background-color: #fff;
	color: #000000;
	outline: 0.1px solid #f4f4f4;
	z-index: 10;

	&::before {
		position: relative;
		content: "";
		display: block;
		align-items: center;
		margin-right: 10px;
		width: 5px;
		height: 30px;
	}

	&.active {
		&::before {
		z-index: 11;
		background-color: #120a8f;
		}
	}

	&:hover {
		&:not(.active)::before {
		display: block;
		z-index: 10;
		opacity: 0.3;
		background-color: #808080;
		}
	}
}
  